main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
}
main .form-group {
  width: 200px;
  box-shadow: #64646f33 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 7px;
}
main .table {
  box-shadow: #64646f33 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 7px;
  text-align: center;
}
main .table-modal {
  width: 70%;
}
main .tabela-scroll {
  overflow-y: auto;
  max-height: 300px;
}
main .modal-aval-title {
  display: flex;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  margin-bottom: 10px;
  box-shadow: #64646f33 0px 7px 29px 0px;
}
main .table-modal-aval {
  width: 100%;
  margin-bottom: 50px;
  box-shadow: none;
}
